#!/bin/bash 
export PAYLOAD=dev.json
export PIPELINE_FILES_GCS_PATH=gs://<my-bucket>/pipelines
# pipeline template - update to any pipelines under the pipelines folder
# tensorflow or xgboost
export PIPELINE_TEMPLATE=tensorflow
export VERTEX_CMEK_IDENTIFIER= # optional
export VERTEX_LOCATION=europe-west4
export VERTEX_NETWORK= # optional
export VERTEX_PIPELINE_ROOT=gs://<my-bucket>/pipeline_root
export VERTEX_PROJECT_ID=my-gcp-project
export VERTEX_SA_EMAIL=vertex-pipeline-runner@my-gcp-project.iam.gserviceaccount.com
