[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kfp = "==1.8.9"
google-cloud-pipeline-components = "==0.2.0"
google-cloud-aiplatform = "==1.10.0"
Jinja2 = ">=3.0.1,<4.0.0"

[dev-packages]
pytest = ">=6.2.4,<7.0.0"
pre-commit = ">=2.14.1,<3.0.0"
xgboost = "==1.4.2"
scikit-learn = "==0.24.1"
pandas = "==1.3.2"
protobuf = "==3.18.0"
tensorflow-data-validation = "==1.6.0"
tensorflow = "==2.7.1"
tensorflow-model-analysis = "==0.37.0"
google-cloud-storage = "==1.42.2"
google-cloud-bigquery = "==2.30.0"
numpy = "==1.19.5"
apache-beam = "==2.35.0"

[requires]
python_version = "3.7"
