[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kfp = "==1.8.21"

[dev-packages]
google-cloud-aiplatform = "==1.24.1"
google-cloud-pipeline-components = "==1.0.42"
pytest = ">=7.3.1,<8.0.0"
pre-commit = ">=2.14.1,<3.0.0"

[requires]
python_version = "3.7"
